#loader {
  overflow: hidden;
  padding: 10px 0;
  transform: translate(-50%);
  position: absolute;
  top: 42%;
  left: 48%;
}
#loader .ball {
  background: #38d368;
  border-radius: 5px;
  display: block;
  height: 10px;
  left: 15px;
  position: absolute;
  top: 5px;
  width: 10px;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: along;
  -webkit-animation-timing-function: linear;
}
#loader .ball2 {
  background: #508EC3;
  border-radius: 5px;
  display: block;
  height: 10px;
  left: 15px;
  position: absolute;
  top: 5px;
  width: 10px;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: along;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: -1s;
}
#loader ulf {
  margin: 0;
  padding: 0;
}
#loader lif {
  background-color: #00bff3;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 30px;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: around;
  -webkit-animation-timing-function: linear;
}
#loader lif:nth-child(1) {
  -webkit-animation-delay: 0s;
}
#loader lif:nth-child(2) {
  background-color: #82ca9c;
  -webkit-animation-delay: 0.2s;
}
#loader lif:nth-child(3) {
  background-color: #f69679;
  -webkit-animation-delay: 0.4s;
}
#loader lif:nth-child(4) {
  background-color: #acd373;
  -webkit-animation-delay: 0.6s;
}
#loader lif:nth-child(5) {
  background-color: #959595;
  -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes around {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes along {
  0% {
    left: 0;
    top: 5px;
  }
  5% {
    top: 3px;
  }
  10% {
    top: 5px;
  }
  15% {
    top: 3px;
  }
  20% {
    top: 5px;
  }
  25% {
    top: 3px;
  }
  30% {
    top: 5px;
  }
  35% {
    top: 3px;
  }
  40% {
    top: 5px;
  }
  45% {
    top: 3px;
  }
  50% {
    left: 100%;
    top: 5px;
  }
  100% {
    left: 100%;
  }
}

.XD {
  position: absolute;
  top:48%;
  left: 40%;
  background: #e74c3c;
  -webkit-animation: rytt 3s infinite;
  -moz-animation: rytt 3s infinite;
  -o-animation: rytt 3s infinite;
  animation: rytt 3s infinite;
  border-radius: 1em;
  text-align: center;
  opacity: 0.6;
}
.XD:nth-child(1) {
  transform: rotate(0deg) translate(4em);
}
.XD:nth-child(2) {
  transform: rotate(45deg) translate(4em);
}
.XD:nth-child(3) {
  transform: rotate(90deg) translate(4em);
}
.XD:nth-child(4) {
  transform: rotate(135deg) translate(4em);
}
.XD:nth-child(5) {
  transform: rotate(180deg) translate(4em);
}
.XD:nth-child(6) {
  transform: rotate(225deg) translate(4em);
}
.XD:nth-child(7) {
  transform: rotate(270deg) translate(4em);
}
.XD:nth-child(8) {
  transform: rotate(315deg) translate(4em);
}

@-webkit-keyframes rytt {
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rytt {
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rytt {
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
}
@keyframes rytt {
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
}
span {
  line-height: 2em;
  font-family: 'Sans-Serif';
  color: #2c3e50;
  letter-spacing: 0px;
}